@use 'colors';

// variables
$max-width: 1400px;

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    line-height: 1.5;
    background-color: colors.$bg-color;
    color: colors.$font-light;
}

.content {
    max-width: $max-width;
    margin: 15rem auto 0;
    padding: 0 2rem;
}

h1 {
    text-align: center;
    font-size: 3.6rem;
}